.NavBar {
    display: flex;
    flex-direction: row;
    background-color: white;
    
    }
navbar-brand {
    width: 30px;
    height: 30px;
}

hr {
    border:none;
    height: 20px;
    width: 100%;
    height: 50px;
    margin-top: 0;
    border-bottom: 1px solid #1f1209;
    box-shadow: 0 10px 10px -10px #333;
    margin: -50px auto 10px; 
}
.link {
    display: flex;
    flex-direction: row;
    background-color: white;
    margin-right: 1rem;
    

}
.active {
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: row;
    background-color: white;
    margin-right: 1rem;
    padding-left: 2rem;
}